@mixin processbar($background) {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  height: 0.1rem;
  width: 100%;
  transition: .5s;
  background: $background;
}

.processbar {
  position: relative;
  width: 15rem;

  :global {
    .default {
      @include processbar($background: #eee);
    }

    .loading {
      @include processbar($background: #ceecd2);
      width: 0%;
    }

    .playing {
      @include processbar($background: #6bbd7a);
      width: 0%;
    }
  }
}
