@import '~sass-flex-mixin/flex';

.buttonBar {
  @extend %flexbox;
  @include justify-content;
  @include align-items(center);

  min-width: 15rem;
  :global {
    .tasteButtonGroup {
      @include flex-grow(1);

      > a {
        color: black;

        > i {
          font-size: 2rem;
          font-weight: 700;
          margin: 1rem 0.5rem;
        }
      }

      .favorite {
        color: red;
      }
    }

    .controlButtonGroup {
      @include flex-basis(1);

      > a {
        color: black;

        > i {
          font-size: 1.2rem;
          font-weight: 700;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
