@import '~sass-flex-mixin/flex';

.content {
  @extend %flexbox;
  @include justify-content(center);
}

.mask {
  height: 20rem;
  text-align: center;
  line-height: 20rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #9b9b9b;
  text-decoration: underline;

  > i {
    font-size: 2rem;
    margin-right: 0.5rem;
  }
}
