@import '~sass-flex-mixin/flex';

.player {
  @extend %flexbox;
  @include justify-content(center);
  @include align-items(center);
}

.controlBar {
  @extend %flexbox;
  @include justify-content(between);
  @include align-items(center);

  :global {
    .tasteButtonGroup {
      @include flex-grow(1);

      > a {
        color: black;

        > i {
          font-size: 2rem;
          font-weight: 700;
          margin: 1rem 0.5rem;
        }
      }
    }

    .controlButtonGroup {
    @include flex-grow(1);
      text-align: right;

      > a {
        color: black;

        > i {
          font-size: 1.2rem;
          font-weight: 700;
          margin: 1rem 0.5rem;
        }
      }
    }
  }
}
